{% extends 'appPasteleria/padre.html' %}

{% load static %}

{% block titulo %}

<div class="portada">

    <h1 class="portada-bienvenida">Mensajes enviados</h1>
    
</div>
{% endblock %}



{% block contenido %}

<div class="parte_contenido_principal">
    {% for mensaje in mensajes %}
        {% if mensaje.leido %}
        <div class="cuadro_mensaje">
            <p class="emisor_mensaje"> {{ mensaje.emisor.first_name }} {{ mensaje.emisor.last_name }} </p>
            <p class="leido"> Leído </p>
            <p class="cuerpo_mensaje"> {{ mensaje.cuerpo }}  </p>
            <p class="fecha_mensaje">{{ mensaje.fecha }}</p>
        </div>    
        {% else %}
        <div class="cuadro_mensaje">
            <p class="emisor_mensaje"> {{ mensaje.emisor }} </p>
            <p class="leido"> Sin leer </p>
            <p class="cuerpo_mensaje"> {{ mensaje.cuerpo }}  </p>
            <p class="fecha_mensaje">{{ mensaje.fecha }}</p>
            
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}

{% block contenido2 %}

<div class="parte_contenido_principal2">
    <form action="{% url 'enviarMensaje' %}" method='POST' class="tabla_principal_mensaje"> {% csrf_token %}

        <table class="cuadro_mensajes">

            {{ formulario.receptor }}
            {{ formulario.cuerpo }}
                
        </table>

        <input type="submit" class='btn-enviar' value="Enviar">
    </form>

    
</div>

<a class="btn-escrbir_mensaje" href="{% url 'recibirMensaje' %}">Ver mensajes recibidos</a>

{% endblock %}