{% extends 'appPasteleria/padre.html' %}

{% load static %}

{% block titulo %}

<div class="portada">
   
    <h1 class="portada-bienvenida">Mensajes recibidos</h1>
       
</div>

{% endblock %}


{% block contenido %}

<div class="parte_contenido_principal">
    {% for mensaje in mensajes %}
        {% if mensaje.leido %}
        <div class="cuadro_mensaje">
            <p class="emisor_mensaje"> {{ mensaje.emisor.first_name }} {{ mensaje.emisor.last_name }} </p>
            <p class="leido"> Leído </p>
            <p class="cuerpo_mensaje"> {{ mensaje.cuerpo }}  </p>
            <p class="fecha_mensaje">{{ mensaje.fecha }}</p>
        </div>    
        {% else %}
        <div class="cuadro_mensaje">
            <p class="emisor_mensaje"> {{ mensaje.emisor }} </p>
            <p class="leido"> Sin leer </p>
            <p class="cuerpo_mensaje"> {{ mensaje.cuerpo }}  </p>
            <p class="fecha_mensaje">{{ mensaje.fecha }}</p>
            
        </div>
        {% endif %}
    {% endfor %}

    
</div>
<a class="btn-escrbir_mensaje" href="{% url 'mensajeRecibido' %}">Escribir Mensaje</a>
{% endblock %}