{% extends 'appPasteleria/padre.html' %}

{% load static %}

{% block titulo %}

<div class="portada">
    
    

    {% if user.is_authenticated %}

    <h1 class="portada-bienvenida" >Bienvenido {{ user.first_name }}</h1>
    

    {% else %}

    
        <h1 class="portada-bienvenida">Bienvenidos!</h1>
    
    <div class="menu_perfil">
        <a class="btn-editar" href="{% url 'register' %}">Regístrate</a>
        <a class="btn-editar" href="{% url 'login' %}">Iniciar sesión</a>
    </div>

    {% endif %}
     

   
    

</div>

{% endblock %}


{% block contenido %}



<div class="about-me" id="about-me">
            
    <div class="about-me_parrafo">

        <h2>Acerca de esta web</h2>
        <p>
            Hola! esta es una web donde nos encontramos aquellos amantes de la cocina, específicamente de la repostería y panadería
            <br/><br/>
            Somos una comunidad que nos gusta compartir nuestras experiencias.
            <br/><br/>

            Así que prueba nuestras recetas y suma las tuyas para que otros puedan probarlas.
        </p>

    </div>

    <div class="images">
        <img alt="Red Velvet" src="{% static 'appPasteleria/assets/bodacake.jpeg' %}"/>
        <img alt="Chocolate Cake" src="{% static 'appPasteleria/assets/chocolatecakeportada.jpeg' %}"/>
        <img alt="Cupcakes" src="{% static 'appPasteleria/assets/esudiantescake.jpeg' %}"/>
        <img alt="Cookies" src="{% static 'appPasteleria/assets/lineascake.jpeg' %}"/>
        <img alt="Torta diseñada" src="{% static 'appPasteleria/assets/mariposascake.jpeg' %}"/>
        <img alt="Alfajores" src="{% static 'appPasteleria/assets/marblecake.jpeg' %}"/>
        <img alt="Brownie" src="{% static 'appPasteleria/assets/nakedcake.jpeg' %}"/>
        <img alt="Macarons" src="{% static 'appPasteleria/assets/sistemacake.jpeg' %}"/>
        <img alt="Cupcakes Chocolate" src="{% static 'appPasteleria/assets/sprinklescake.jpeg' %}"/>


    </div>
</div>

{% endblock %}