{% extends 'appPasteleria/padre.html' %}

{% load static %}

{% block titulo %}

<div class="portada">
    
    

    {% if user.is_authenticated %}

    <h1 class="portada-bienvenida" >Bienvenido {{ user.first_name }}</h1>
    

    {% else %}

    
        <h1 class="portada-bienvenida">Bienvenidos!</h1>
    
    <div class="menu_perfil">
        <a class="btn-editar" href="{% url 'register' %}">Regístrate</a>
        <a class="btn-editar" href="{% url 'login' %}">Iniciar sesión</a>
    </div>

    {% endif %}
     

   
    

</div>

{% endblock %}


{% block contenido %}



<div class="about-me" id="about-me">
            
    <div class="about-me_parrafo">

        <h2>Sobre mí</h2>
        <p class="descripcion_sobremi">
            Hola! mi nombre es Angel Tang, tengo 30 años, soy de Venezuela, pero tengo 4 años viviendo en Argentina, en la ciudad de La Plata.
        </br>
            Soy egresado como geólogo, pero poco a poco he ido adentrándome en el mundo IT, siendo este mi segundo curso con CoderHouse, donde aprendí un poco más de Python como lenguaje, y por primera vez utilizo Django.
        </br>
          Esta web es el producto de los conocimientos adquiridos y como parte de las consignas para aprobar el curso.
        </p>

    </div>

    
</div>

{% endblock %}