

*{
    font-family: "Epilogue", "sans-serif";

}

.nav-bar{
    width: 100vw;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.nav-bar-1{
    width: 80%;

}

#btn-menu{
    display: none;
}

.nav-bar label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-left: 20px;
    
}

.nav-bar label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.image-menu{
    width: 30px;
    height: 30px;

}

.main-menu{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-menu_list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
   

}
.main-menu_list a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main-menu_list li {
    
    list-style: none;
    text-align: center;
    padding: 10px;



}

.main-menu_list a:hover{
    color: rgb(156, 82, 134);
    cursor: pointer;
}

@media (max-width: 768px){
    .nav-bar label {
        display: block;
}
    .main-menu{
        position: absolute;
        background: #fff;
        width: 100%;
        margin-left: -100%;
        transition: all 0.4s;

}
    .main-menu_list {
        flex-direction: column;
        align-items: flex-start;
       
}
   
    #btn-menu:checked ~ .main-menu{
        margin-left: 0;
        margin-top: 50px;
       


}
}
.descripcion_sobremi{
    text-align: justify;
    width: 60%;
    align-items: center;
    margin: auto;
}

.main-menu_icon {
    width: 70px;
    padding: 10px;
    margin-right: 20px;
}

.portada {
    width: 100%;
    height: 640px;
    background-image: url("/static/appPasteleria/assets/portada.jpg");
    background-size: cover;
    background-position: 14% 40%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    

}

.portada-bienvenida {
    width: 100%;
    min-width: 330px;
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
    padding: 60px;
    
}

.menu_perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_perfil a{
    width: auto;
    margin: 20px;
}


.portada-bienvenida_contact-buttom a{
    display: block;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    width: 20%;
    min-width: 170px;
    text-align: center;
   
    background: rgb(18, 139, 175);
    border-radius: 20px;
    padding: 20px;
    
}


.portada-bienvenida_contact-buttom a:hover{
    background: rgba(18, 139, 175, .4);
    color: rgba(255,255,255, .8);
    cursor: pointer;
    transition: .3s;

   
    
}

.portada-bienvenida_contact-buttom_ingreso a{

    display: block;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    width: 20%;
    min-width: 170px;
    text-align: center;
   
    background: rgb(156, 82, 134);
    border-radius: 20px;
    padding: 20px;


}

.about-me{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 40px;
}

.about-me_parrafo{
    width: 40%;
    margin: auto;
    flex: 1 1 320px;
    padding: 20px;
    text-align: center;
}

.about-me_parrafo h2{
    font-family: 'Montserrat', sans-serif;
    color: rgb(18, 139, 175);
    font: bold;
}

.images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40%;
    flex: 1 1 320px;
}

.images img{

    width: 25%;
    min-width: 120px;
    max-height: 190px;
    margin: 10px;
    object-fit: contain;

}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: rgb(0, 0, 0);
    height: 400px;
}

.contact h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  
}

.icons {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.main-socialmedia__item {

    width: 30px;
}



.pie {

    color: white;
    background: rgb(65, 60, 63);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie h2{

    font-size: 1em;
    font-weight: 500;
}



/* ------------- Perfil -------------- */


.contenido_principal{
    display: flex;
    justify-content: center;

}

.avatar_usuario img{
    width: 200px;
    height: 200PX;
    object-fit: cover;
    border: 5px solid rgb(18, 139, 175);
    border-radius: 100%;
}

.datos_perfil, .mas_datos_perfil{
    
    width: 60%;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}


.datos_perfil h3, .mas_datos_perfil h3 {

    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font: bold;

}

.btn-editar{

    
    color: white;
    font-size: 1rem;
    text-decoration: none;
    width: auto;
    background: rgb(18, 139, 175);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    
    
    
    
    
}

.mensaje_exito{
    color: white;
}

/* --------------------Registro Usuario--------------------- */
.tabla_principal_registro{
    width: 100%;
    text-align: center;

}

.tabla_registro{
    width: 100%;
}
.tabla_registro tr{
    display: flex;
    flex-direction: column;
}

.tabla_registro input{
    width: 40%;
    height: 30px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid gray ;
}

.btn-register{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    width: 10%;
    background: rgb(18, 139, 175);
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 30px;
    
}

.btn-register:hover {
    cursor: pointer;
    background: rgba(18, 139, 175, 0.7);

}


/* ------------- Mensajeria----------------- */

.contenido_principal{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parte_contenido_principal{
    width: 500px;
    height: auto;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
    margin-top: 50px;
}

parte_contenido_principal2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tabla_principal_mensaje{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    
}


#id_receptor{
    width: 100%;
    height: 30px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid gray ;

}

#id_cuerpo{
    width: 100%;
    height: 30px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid gray ;

}

.btn-enviar{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    width: 50%;
    background: rgb(18, 139, 175);
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 30px;
    
}

.btn-enviar:hover {
    cursor: pointer;
    background: rgba(18, 139, 175, 0.7);

}

.cuadro_mensaje{
    width: 70%;
    border: none;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(95, 198, 230);
    padding: 5px;
}

.leido{
    color: gray;
    text-align: left;
    margin-left: 20px;
    font-size: 0.8rem;
}

.emisor_mensaje, .cuerpo_mensaje{
    text-align: left;
    margin-left: 20px;
    color: #EDF2F4;
    
}

.fecha_mensaje{
    color: gray;
    text-align: right;
    margin-right: 20px;
    font-size: 0.8rem;


}

.btn-escrbir_mensaje{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    width: 15%;
    background: rgb(18, 139, 175);
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 30px;
    text-align: center;
}

/* --------------- Lista Recetas-------------------- */

.caja_recetas{
    border:1px solid gray;
    border-radius: 20px;
    margin: 20px;
    padding:20px;
    width: 100%;
    
}

.titulo_receta{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color:rgb(18, 139, 175);
}

.autor_fecha_receta{
    text-align: right;
    color: gray;
    font-size: 0.75rem;
}

.datos_receta{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

}
.botones_recetas{
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    align-items: center;
    
}

.botones_recetas a{
    width: auto;
    padding: auto;
    align-items: center;
    margin: 20px;
}

.caja_recetas img{
    
    width: 80%;
    

    

}