{% extends 'appPasteleria/padre.html' %}

{% load static %}

{% block titulo %}

<div class="portada">
   
    <h1 class="portada-bienvenida">{{ receta.titulo }}</h1>
       
</div>

{% endblock %}



{% block contenido %}

<div class="datos_perfil">

    

    <div class="caja_recetas">
        <h2>{{ receta.titulo }}</h2>
        <p>{{ receta.cuerpo|safe }}</p>
        <img src="{{ receta.imagen.url }}"/>
        <p class="autor_fecha_receta">Publicado en {{ receta.fecha }}, por {{ receta.autor.first_name }} {{ receta.autor.last_name }}</p>
    </div>

    

</div>



{% endblock %}

