{% extends 'appPasteleria/padre.html' %}

{% load static %}

{% block titulo %}

<div class="portada">
   
    <h1 class="portada-bienvenida">Recetas</h1>
       
</div>

{% endblock %}



{% block contenido %}

<div class="datos_perfil">

    {% for receta in recetas %}

    <div>
        <h2><a href="{% url 'leer_receta' receta.id %}">{{ receta.titulo }}</a></h2>
        <p>{{ receta.snippet|safe }}</p>
        <p>{{ receta.fecha }}</p>
        <p>{{ receta.autor }}</p>
        
    </div>
    <a class="btn-editar" href="{% url 'eliminarReceta' receta.id %}">Borrar</a>
    <a class="btn-editar" href="{% url 'editarReceta' receta.id %}">Editar</a>
    

    {% endfor %}

</div>



{% endblock %}

