{% extends 'appPasteleria/padre.html' %}

{% load static %}

{% block titulo %}

<div class="portada">
   
    <h1 class="portada-bienvenida">Recetas</h1>
       
</div>

{% endblock %}



{% block contenido %}

<div class="datos_perfil">

    {% for receta in recetas %}

    <div>
        
        <h2><a href="{% url 'leer_receta' receta.id %}">{{ receta.titulo }}</a></h2>
        <p>{{ receta.snippet|safe }}</p>
        <p>{{ receta.fecha }}</p>
        <p>{{ receta.autor }}</p>
        
    </div>

    {% endfor %}

</div>



{% endblock %}

